BasedOnStyle: LLVM
UseTab: Never
SortIncludes: Never
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: true
ColumnLimit: 120
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
CompactNamespaces: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AlignAfterOpenBracket: AlwaysBreak
BreakConstructorInitializers: BeforeColon
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  AfterFunction: true
  AfterNamespace: false
  AfterCaseLabel: false
  AfterUnion: false
  AfterExternBlock: true
  AfterControlStatement: MultiLine
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
PackConstructorInitializers: NextLine
